<div class="col-12 justify-content-around d-flex m-0 p-4 mat-elevation-z1">
    <div class="col-3 d-flex mat-elevation-z2" style="margin-top:5vh;">
        <div class="col-12 p-0 m-0" routerLink="/products">
            <div class="d-flex justify-content-center col-12 p-0 m-0 mt-4">
                <img src="/assets/list.png" style="height: 250px; width: 250px">
            </div>
            <div class="desc-card">
                <h2 class="row justify-content-center mt-4">Grocery List</h2>
            </div>
        </div>
    </div>
    <div class="col-3 d-flex mat-elevation-z2" style="margin-top:5vh;">
        <div class="col-12 p-0 m-0" routerLink="/my-cart">
            <div class="d-flex justify-content-center col-12 p-0 m-0 mt-4">
                <img src="/assets/myOrders.png" style="height: 250px; width: 250px">
            </div>
            <div class="desc-card">
                <h2 class="row justify-content-center mt-4">My Orders</h2>
            </div>
        </div>
    </div>
    <div class="col-3 d-flex mat-elevation-z2" style="margin-top:5vh;">
        <div class="col-12 p-0 m-0" routerLink="/partnership">
            <div class="d-flex justify-content-center col-12 p-0 m-0 mt-4">
                <img src="/assets/verifyAndSell.png" style="height: 250px; width: 250px">
            </div>
            <div class="desc-card">
                <h2 class="row justify-content-center mt-4">Sell Directly</h2>
            </div>
        </div>
    </div>

</div>