.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}

::ng-deep .my-form-field .mat-form-field-wrapper {
    padding-bottom: 0px !important;
    padding: 5px !important;
}