<!-- <app-nav-bar></app-nav-bar> -->

<div class="col-12 p-0 m-0" *ngIf="!loginPage && !registerationPage">
    <mat-toolbar style="background-color: #3373e7; color: white;">
        <div class="col-12 row">
            <div class="col-8">
                <button mat-icon-button (click)="opened = !opened">
                    <mat-icon>menu</mat-icon>
                </button>
                <span style="vertical-align: middle;">Welcome {{userName}} </span>
            </div>

            <div class="col-4">
                <div class="d-flex justify-content-end">
                    <button class="col-3" mat-icon-button class="example-icon favorite-icon"
                        matTooltip="Your Favorites">
                        <mat-icon>favorite</mat-icon>

                    </button>
                    <button class="col-3" mat-icon-button class="example-icon favorite-icon" matTooltip="Dashboard">
                        <mat-icon routerLink="/dashboard">dashboard</mat-icon>

                    </button>
                    <button class="col-3" mat-icon-button class="example-icon favorite-icon" matTooltip="Logout">
                        <mat-icon (click)="logout()">logout</mat-icon>

                    </button>
                </div>
            </div>
        </div>
    </mat-toolbar>
</div>
<mat-sidenav-container
    [ngStyle]="{'height' : (router.url == '/' || router.url ==  '/login' || router.url == '/register') ? '100vh' : 'calc(100vh - 64px)'} ">
    <mat-sidenav mode="side" [(opened)]="opened" *ngIf="!loginPage && !registerationPage"
        [ngClass]="{'col-2' : router.url != '/' && opened}">
        <div class="col-12 row m-0">
            <mat-nav-list class="col-12 p-0 m-0">

                <a routerLink="/dashboard" class="col-12 border-bottom" mat-list-item style="color: #3373e7;">
                    <mat-icon class="col-2">home</mat-icon> <span class="col-10 mt-1 mx-1"> Dashboard </span>
                </a>
                <a routerLink="/products" class="col-12 border-bottom" mat-list-item style="color: #3373e7;">
                    <mat-icon class="col-2">category</mat-icon> <span class="col-10 mt-1 mx-1"> Products </span>
                </a>
                <a routerLink="/my-orders" class="col-12 border-bottom" mat-list-item style="color: #3373e7;">
                    <mat-icon class="col-2">shopping_cart</mat-icon> <span class="col-10 mt-1 mx-1"> My Cart </span>
                </a>
                <a routerLink="/partnership" class="col-12 border-bottom" mat-list-item style="color: #3373e7;">
                    <mat-icon class="col-2">storefront</mat-icon> <span class="col-10 mt-1 mx-1"> Sell Directly </span>
                </a>

            </mat-nav-list>

        </div>
    </mat-sidenav>
    <mat-sidenav-content [ngStyle]="{'padding' : router.url == '/' || 'login' ? '0px' : '18px' }">
        <div [ngClass]="{'col-12 pt-0 p-0 m-0' : router.url == '/' || opened , 'col-10' : router.url != '/' && opened}">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>